.texto-menor
{
    font-size: 13px;
    color:white;
}

.div-facilidades
{
    width: 325px;
    color: #DAFF01;
}

.btn
{
    background-color: #9353FF;
    border: none;
}

.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}